{%extends 'base.html'%}
{% from 'form_macros.html' import render_field %}
{% block title%}Update{% endblock %}
    {% block content%}
    <h1>Update user date</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.old_password,"form-control") }}
        {{ render_field(form.new_password,"form-control") }}
        {{ render_field(form.confirm_password,"form-control") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}