{%extends 'base.html'%}
{% from "form_macros.html" import render_field %}
{% block title%}Log in{% endblock %}
{% block content%}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
            <h2 class="text-center mb-4">Register</h2>
            <form method="post">
                {{form.hidden_tag()}}
                <div class="mb-3">
                    {{render_field(form.username,"form-control")}}
                </div>
                <div class="mb-3">
                    {{render_field(form.email,"form-control")}}
                </div>
                <div class="mb-3">
                    {{render_field(form.password,"form-control")}}
                </div>
                <div class="mb-3">
                    {{render_field(form.confirmPassword,"form-control")}}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}
